@font-face{
  font-family: 'october moon';
  src: url('../font/october-moon.otf') format('opentype');
}
/***** BASE STYLES*****/

body{
font-family: 'Heebo', sans-serif;
font-size: 24px;
}

#about, #work, #skills{
        height: 680px;
}
#contact{
        height: 500px;
}


/***** GRID*****/
.full-width{
    width: 100%;
    margin: 0 auto;
}

.half-width{
  width: 50%;
  margin: 0 auto;
  float:left;

}

.third-width{
  width: 33%;
  margin: 0 auto;
  float:left;

}

.quarter-width{
  width: 25%;
  margin: 0 auto;
  float:left;
}


/***** HEADER SECTION *****/
#top{
  background: url('../img/background-photo.png');
  background-size: cover;

}

header{
    background-color: #fdf7fb;
}

header h1{
    font-family: 'october moon', serif;
    font-size: 60px;
    text-align: center;
    margin: 0 auto;
    line-height: 90px;
    font-weight: normal;

}

header h2{
  font-family: 'Slabo 27px', serif;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  margin: 0px auto;

}

nav{
    text-align: center;
    border-top: 2px dotted #eac5e4;
    border-bottom: 2px dotted #eac5e4;
    margin: 0 0 0 0;


}

ul{
  margin: 0 auto;
  padding: 0px 0px;
}

nav ul li{
    display: inline-block;
    margin: 0 auto;

}

nav ul li a{
    text-transform:capitalize;
    text-decoration: none;
    color: #000000;
    margin: 0 auto;
    padding: 0px 110px 0px 110px;
}

.home-left, .home-right{
  background-color: #f0f7ff;
  height: 660px;
}


#home-photo{
  padding: 95px 0 0 100px;
}


.home-left h3{
  margin: auto auto;
  font-size: 36px;
  font-weight: normal;
  text-align: left;
  font-family: 'Slabo 27px', serif;
  padding: 0 0 0 60px;

}

#arrow{
  position: absolute;
  margin: -146px 0 0 352px;
}

.home-right h2{
  font-family: 'october moon', serif;
  font-size: 72px;
  text-align: left;
  font-weight: normal;
  line-height: 80px;
  margin: 0px auto;
  padding: 45px 60px 0 0;
}

.home-right h3{
  margin: auto auto;
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  padding: 32px 60px 0 0;
}

.home-right img{
  display: block;
  padding-right: 60px;
  margin: auto auto;
}

.home-right .home-left, span{
  font-family: 'october moon', serif;
  color: #000000;
}

.home-left a{
  text-decoration: none;
}

#work{
  clear: both;
  background-color: #fdf7fb;
}

#work h2{
  font-family: 'october moon', serif;
  font-size: 48px;
  margin: 0 auto;
  padding: 70px 0px 5px 50px;
}



#work h3{
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  font-family: 'Slabo 27px', serif;
}

#work a{
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  font-family: 'Slabo 27px', serif;
  text-decoration: none;
  color: #000000;
}

#work img{
  display: block;
  margin: 0px 0px 20px 60px;
  border: 1px solid #000000;
}

#work p{
  text-align: center;
}

#about, #skills{
  clear: both;
  background-color: #f0f7ff;
  margin: 0 auto;
}

#about h2{
  font-family: 'october moon', serif;
  font-size: 48px;
  margin: 0 auto;
  padding: 70px 0px 5px 50px;
}
#about p{
  margin: auto auto;
  text-indent: 20px;
  font-size: 18px;
  padding: 0 60px 0px 60px;
  text-align: justify;
  line-height: 30px;

}

#about h3{
  font-family: 'october moon', serif;
  font-size: 30px;
  margin: 0 auto;
  text-align: right;
  font-weight: normal;
}

#about #yours-truly{
    margin: -40px 210px 0px 0px;
}

#about #erica-joan{
    margin: -10px 90px 0px 0px;
}

#about #about-icon{
  float: right;
  margin: -70px 60px 0 0;
}

#photo-1, #photo-2, #photo-3, #photo-4 {
  margin-top: -20px;
}

#photo-1{
  margin-left: 60px;
}

#photo-2{
  margin-left: 40px;
}

#photo-3{
  margin-left: 20px;
}

#skills h3{
  font-family: 'october moon', serif;
  font-size: 36px;
  margin: 0 auto;
  padding: 70px 0px 5px 50px;
}

#skills img{
  display: block;
  margin: auto auto;
  padding: 30px 60px 20px 60px;

}

#skills h4{
  margin: auto auto;
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  font-family: 'Slabo 27px', serif;
  padding: 0 60px 20px 60px;
}

#skills p{
  margin: auto auto;
  text-align: center;
  font-size: 18px;
  padding: 0 60px 20px 60px;

}
#contact{
  clear: both;
  background-color: #fdf7fb;
  margin: 0 auto;
  border-bottom: 2px dotted #eac5e4;
}


#contact h2{
  font-family: 'october moon', serif;
  font-size: 48px;
  margin: 0 auto;
  padding: 70px 0px 5px 50px;
}
.contact-left h3{
   margin: auto auto;
   font-size: 36px;
   font-weight: normal;
   font-family: 'Slabo 27px', serif;
   padding: 0 60px 20px 60px;

 }


 #contact h4{
   margin: auto auto;
   font-size: 36px;
   font-weight: normal;
   font-family: 'Slabo 27px', serif;
   padding: 0 60px 0px 60px;

 }

#contact p{
   margin: auto auto;
   padding: 0 60px 20px 60px;
 }

 #email a{
   text-decoration: none;
   color: #000000;
 }

 .contact-right h3{
   margin: auto auto;
   font-size: 36px;
   font-weight: normal;
   text-align: center;
   padding: 0 130px 20px 130px;
   position: relative;
 }

#contact-icon{
   margin: -325px 130px 0 130px;
 }


 #footer{
   overflow: auto;
   background: url('../img/footer-photo.png');
   background-size: cover;
   padding-top: 2px;
 }

 .social-media ul li{
  float: right;
  display: inline-block;
  padding: 10px 60px 10px 0px;
 }

.work-page{
  background-color: #f0f7ff;
  margin: 0 auto;
 }

.work-page h2 {
   font-family: 'october moon', serif;
   font-size: 48px;
   margin: 0 50px;
   padding: 50px 0px 5px 0px;
 }

.work-page iframe{
 margin: 20px 50px;
 background-color: white;
}
